body{
  background-image: url('../images/2144.jpg');
  background-size: cover;
  font-family: Segoe UI;
}

.sidebar{
  background-color: rgba(52, 73, 94, .75);
  color: white;
  height: 900px;
  margin: 0;
  margin-top: -22px;
}

.sidebar a{
  font-size: 18px;
  color: white;
}

a:hover {
  background-color: black;
  color: black;
}

h1, h2{
  color: black;
  font-weight: bold;
}

.content{
  margin-top: -20px;
}
